<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${'Name: ' + person.getName()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${'Age: ' + person.getAge()}">VALUE</p>
<p th:text="${'Id: ' + person.getId()}">VALUE</p>

<form th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <button>Edit</button>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <br/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>